.swn
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
.DS_Store
.AppleDouble
.LSOverride
Icon^M
.Spotlight-V100
.Trashes
.svn
*~
*.swp
*.rbc
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zi
*.log
*.sql
*.sqlite
*.*.swo
*/build/*
