.swn
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
.DS_Store
.AppleDouble
.LSOverride
Icon^M
.Spotlight-V100
.Trashes
.svn
*~
*.swp
*.rbc
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zi
*.log
*.sql
*.sqlite
*.*.swo
*/build/*
*/vim/vim.symlink/undodir/*
fish_prompt.1464304985.copy
config.1464304985.copy
config.1464305411.copy
config.fish.old
config-symlink/omf/bundle
config-symlink/omf/init.fish
config-symlink/omf/theme
config/vim/view/*
config/vim/undodir/*
vim/vim.symlink/undodir/*
vim/vim.symlink/bundle/*
vim/vim.symlink/view
